* {
    font-family:        "Source Code Pro", "Zen Maru Gothic", monospace;
    font-weight:        300;
    font-size:          16px;
    box-sizing:         border-box;
}

/* ----------------------------------------------------- */

body {
    line-height:        1.5em;
    margin:             0;
    padding:            0;
}

body::-webkit-scrollbar {
    display:            none;
}

article {
    width:              1280px;
    margin:             0 auto;
}

header {
    padding-top:            2.0em;
    padding-bottom:         1.0em;
    border-bottom:          1px black solid;
    margin-bottom:          3.0em;
    /* this site-specific */
    display:                grid;
    grid-template-columns:  75% 25%;
}

.bold {
    font-weight:        500;
}

#logo {
    justify-self:       end;
    padding-right:      0.25em;
    margin-bottom:      -2.0em;
}

.segment {
    margin-bottom:      2.0em;
}

footer {
    margin-top:         3.0em;
    border-top:         1px black solid;
    padding-top:        1.0em;
    padding-bottom:     2.0em;
}

/* ----------------------------------------------------- */

h1 {
    font-size:          1.0em;
}

h2 {
    font-size:          1.5em;
    margin-bottom:      1.0em;
    background-color:   #f0f0f0;
}

ul {
    padding-inline-start:   1.5em;
    list-style:             "* ";
}

table {
    table-layout:       auto;
    width:              100%;
    border-collapse:    collapse;
    white-space:        nowrap;
}

th {
    background-color:   #ffffff;
    border-bottom:      1px dashed #000000;
    text-align:         left;
    padding-left:       0.5em;
    font-weight:        500;
}

td {
    background-color:   #f0f0f0;
    border-bottom:      1px dashed #cccccc;
    padding-left:       0.5em;
}

.personal_work td {
    background-color:   #ffffff;
}

/* ----------------------------------------------------- */

a:link {
    color:              #197fb3;
}

a:visited {
    color:              #134c86;
}

a:hover {
    color:              #20bfdf;
    cursor:             pointer;
}

/* PC -------------------------------------------------- */

@media screen and (min-width:769px) {
    #grid {
        display:                grid;
        grid-template-columns:  25% 72.5%;
        column-gap:             2.5%;
        row-gap:                0;
    }
}

/* Mobile ---------------------------------------------- */

@media screen and (max-width: 768px) {
    article {
        width:          auto;
    }
    
    header {
        padding-top:    1.5em;
        padding-bottom: 1.5em;
        border-bottom:  1px black solid;
        margin-bottom:  1.5em;
    }

    #logo {
        padding-right:  1.0em;
        margin-bottom:  -2.0em;
    }

    footer{
        margin-top:     1.5em;
        border-top:     1px black solid;
        padding-top:    1.5em;
        padding-bottom: 1.5em;
    }
    
    h1, h2 {
        font-size:      1.25em;
        padding-left:   1.0em;
    }

    p {
        padding-left:   1.0em;
    }

    ul {
        padding-inline-start:   2.5em;
        line-height:            2.0em;
    }

    .responsive {
        border-collapse:        separate;
        border-spacing:         1em;
    }

    .responsive thead {
        display:                none;
    }
    
    .responsive td {
        position:               relative;
        display:                block;
        padding-left:           4.0em;
        border-left:            2px #d0d0d0 solid;
    }

    .responsive td:before {
        font-weight:            500;
        content:                attr(data-title) ":";
        font-size:              0.75em;
        position:               absolute;
        left:                   0.5em;
    }
}
