*{margin:0; padding:0; font-size:100%; font-weight:normal; vertical-align:baseline; background:transparent; border:none;}

/* - - - - - */

body{
    background: white;
    color: black;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    line-height: 1.5em;
}

/* - - - - - */

h2, h3{
    font-weight: 600;
    margin-bottom: 0.5em;
}

p, li, th, td, a{
    font-weight: 400;
}


h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 150%;
    font-weight: 600;
}

h2{
    font-size: 130%;
    padding-bottom: 0.2em;
    border-bottom: 1px gray solid;
}

p, ul, tr{
    font-size: 100%;
}

table{
    border-collapse: collapse;
    width: 960px;
}

th{
    font-weight: 600;
    padding: 0 1.0em 0 0;
    border-bottom: 1px solid gray;
}

td{
    font-size: 90%;
    padding: 0.2em 1.0em 0.2em 0;
    border-bottom: 1px dashed gray;
}

ul{
    padding-left: 1.4em;
}

a:link {
    color: steelblue;
}
a:visited {
    color: slategray;
}
a:hover {
    color: lightseagreen;
}

/* - - - - - */

header, section {
    margin-bottom: 2.0em;
}

header section {
    padding: 2.0em 1.0em 0.5em 1.0em;
    background: #E5E5E5;
    display: flex;
    align-items: baseline;
}

header div {
    padding-right: 2.0em;
}

footer {
    padding: 1.0em 1.0em 4.0em 1.0em;
    background: #E5E5E5;
}

/* - - - - - */

.small {
    font-size: 90%;
}

.asciiart{
    color: white;
    font-size: 60%;
    line-height: 1.2em;
    letter-spacing: 0.0em;

    position:relative;
    top: -1.5em;
}

/* - - - - - */

#container{
    width: 960px;
    padding: 0 2.0em;
    margin: 0 auto;
}
