*{margin:0; padding:0; font-size:100%; font-weight:normal; vertical-align:baseline; background:transparent; border:none;}

/* - - - - - */

body{
    background: white;
    color: black;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    line-height: 1.5em;
}

/* - - - - - */

h1, h2, h3, p, li, th, td, a{
    font-weight: 200;
}

h1, h2, h3, p, ul{
    margin-bottom: 0.5em;
}

h1{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 150%;
}

h2{
    font-size: 125%;
}

p, ul, tr{
    font-size: 100%;
}

table{
    border-collapse: collapse;
}

th{
    padding: 0 1.0em 0 0;
    border-bottom: 1px solid gray;
}

td{
    padding: 0.2em 2.0em 0.2em 0;
    border-bottom: 1px dashed gray;
}

ul{
    padding-left: 1.4em;
}

a:link {
    color: steelblue;
}
a:visited {
    color: slategray;
}
a:hover {
    color: lightseagreen;
}

/* - - - - - */

header, section {
    margin-bottom: 2.0em;
}

header {
    display: table;
}

header div {
    display: table-cell;
    vertical-align: bottom;
    padding-right: 2.0em;
}

/* - - - - - */

.small {
    font-size: 75%;
}

.asciiart{
    font-size: 60%;
    line-height: 1.1em;
    letter-spacing: 0.1em;
}

/* - - - - - */

#container{
    width: 960px;
    padding: 2.0em;
    margin: 0 auto;
}
